[Unit]
Description=Private Woodpecker port %i proxy socket
After=network-online.target tailscaled.service
Wants=network-online.target
Requires=tailscaled.service

[Socket]
ListenStream={{TAILSCALE_ADDRESS}}:%i
BindToDevice=tailscale0
NoDelay=true

[Install]
WantedBy=sockets.target

